
.btn {
    border: none;
    padding: 0px;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit;
}

.btn-small {
    display: inline-block;
    padding: 3px 10px;
    font-size: 10px;
    cursor: pointer;
    margin-right:4px;
}
.btn-xs {
    display: inline-block;
    padding: 0px 10px;
    font-size: 10px;
    cursor: pointer;
    margin-right:4px;
}

// .btn-small:hover {
//     background: $color-dark-blue;
//     color: $color-white;
//     border: 1px solid $color-dark-blue;
// }

// .btn-blue {
//     color: $color-white;    
//     background: $color-blue;
//     border: 1px solid $color-blue;
// }
// .btn-yellow {
//     color: $color-white;    
//     background: $color-pending;
//     border: 1px solid $color-pending;
// }
// .btn-blue-selected {
//     color: $color-white;   
//     background: $color-dark-blue;
//     border: 1px solid $color-dark-blue;
// }
// .btn-blue-selected:hover {
//     background: $color-dark-blue;
//     color: $color-white;
//     border: 1px solid $color-dark-blue;
// }

// .btn-red-selected {
//     color: $color-white;   
//     background: $color-red-brick;
//     border: 1px solid $color-red-brick;
// }

// .btn-green-selected {
//     color: $color-white;   
//     background: $color-green2;
//     border: 1px solid $color-green2;
// }
// .btn-selected-blue-table {
//     background-color: $color-dark-blue;
//     color: $color-white;
//     background-color: #004a9b;
//     color: #ffffff;
//     position: relative;
//     margin-top: -15px;
//     width: 85px;
//     height: 100%;
// }

// .btn-grey-disabled {
//     color: $color-lighter-grey5;
//     background: $color-lighter-grey2;
//     border: 1px solid $color-lighter-grey2;
// }
// .btn-grey {
//     color: $color-lite-grey;    
//     background: $color-lighter-grey2;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey:hover {
//     background: $color-lite-grey;
//     color: $color-white;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey-selected {
//     color: $color-white;
//     background: $color-dark-grey;
//     border: 1px solid $color-dark-grey;
//     font-weight:600;
// }
// .btn-grey-selected:hover {
//     background: $color-lite-grey;
//     color: $color-white;
//     border: 1px solid $color-lighter-grey;
// }

// .btn-grey > i {
//     color: $color-white;
// }
// // Used in Portfolio, Planning
// .btn-grey2 {
//     color: $color-lite-grey;      
//     background: $color-lighter-grey2;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey2:hover {
//     background: $color-lite-grey;
//     color: $color-white;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey2-selected {
//     color: $color-white;
//     background: $color-lite-grey;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey2-selected:hover {
//     background: $color-lite-grey;
//     color: $color-white;
//     border: 1px solid $color-lighter-grey;
// }

// .btn-grey2 > i {
//     color: $color-dark-grey;
// }

// .btn-grey2:hover > i {
//     color: $color-white;
// }

// // Used in Planning
// .btn-grey3 {
//     color: $color-white;    
//     background: $color-dark-grey;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey3:hover {
//     background: $color-lite-grey;
//     color: $color-white;
//     border: 1px solid $color-lighter-grey;
// }

// .btn-grey3 > i {
//     color: $color-white;
// }

// .btn-grey3:hover > i {
//     color: $color-white;
// }

// .btn-grey4 {
//     color: $color-white;    
//     background: $color-lite-grey;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-grey4:hover {
//     background: $color-dark-grey;
//     color: $color-white;
//     border: 1px solid $color-lighter-grey;
// }
// .btn-red {
//     color: $color-white;    
//     background: $color-red-brick;
//     border: 1px solid  $color-red-brick;
// }
// .btn-red:hover {
//     background:  $color-red-brick;
//     color: $color-white;
//     border: 1px solid  $color-red-brick;
// }
// .btn-green {
//     color: $color-white;    
//     background: $color-green;
//     border: 1px solid  $color-green;
// }

// /* Tags , to be removed from here */

// .tag-small {
//     display: inline-block;
//     padding: 3px 10px;
//     font-size: 10px;
//     cursor: pointer;
//     margin-right:4px;
// }

// .tag-yellow {
//     color: $color-white;    
//     background: $color-pending;
// }

// .tag-blue {
//     color: $color-white;    
//     background: $color-blue;
// }
// .tag-green {
//     color: $color-white;    
//     background: $color-green;
// }
// .tag-grey {
//     color: $color-white;   
//     background: $color-lite-grey;
// }
